Repository SciCompMod/ESID-Backend: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8

black:
  name: black
  entry: black
  language: system

isort:
  name: isort
  entry: isort
  language: system
  args:
  - --profile
  - black

flake8:
  name: flake8
  entry: flake8
  language: system
  args:
  - --max-line-length=120
  - --extend-ignore=E203,E402,F407

fix scenario day counting/validation
  api/src/api/app/controller/scenario_controller.py
Due: black, isort, flake8

remove response model for test endpoint for now
  api/src/api/app/apis/scenarios_api.py
Due: black, isort, flake8

remove duplicate and rename
  api/src/api/app/apis/scenarios_api.py
Due: black, isort, flake8

Enable HTTP methods filter globally
  api/src/api/app/apis/scenarios_api.py
  api/src/api/app/middlewares/authentication_middleware.py
  api/src/api/security_api.py
  api/src/api/server.py
  api/src/api/services/auth.py
Due: black, isort, flake8

trying to figure out the worker
  api/docker-compose.yml
  api/src/api/app/__init__.py
  api/src/api/server.py
  api/src/worker/celery_app_config.py
  api/src/worker/tasks/test_worker.py
Due: black, isort, flake8

hotfix to actually delete scenario datapoints when a new are uploaded
  api/src/api/app/db/tasks.py
Due: black, isort, flake8

hotfix: delete datapoints without loading them into memory
  api/src/api/app/db/tasks.py
Due: black, isort, flake8

change default queue name and clean up tasks
  api/src/api/celery_app_config.py
  api/src/api/server.py
  api/src/worker/Dockerfile
  api/src/worker/tasks/test_worker.py
Due: black, isort, flake8

create sample worker scenario upload
  api/src/api/app/apis/scenarios_api.py
  api/src/api/app/controller/scenario_controller.py
Due: black, isort, flake8

rename config
  api/src/api/app/__init__.py
  api/src/api/celery_app_config.py
  api/src/api/celery_config.py
  api/src/worker/celery_app_config.py
  api/src/worker/celery_config.py
Due: black, isort, flake8

standardize docker containers
  api/docker-compose.yml
Due: none

add worker api
  api/src/api/app/apis/scenarios_api.py
  api/src/api/app/apis/worker_api.py
  api/src/api/app/controller/scenario_controller.py
  api/src/api/server.py
  api/src/worker/app.py
Due: black, isort, flake8

add db access to worker
  api/src/worker/core/config.py
  api/src/worker/db/__init__.py
  api/src/worker/db/models.py
  api/src/worker/requirements.txt
  api/src/worker/tasks/__init__.py
  api/src/worker/tasks/import_scenario.py
  api/src/worker/tasks/test_worker.py
Due: black, isort, flake8

Remove deprecated auth codes, add idp root url env var and add more comments
  api/src/api/app/apis/compartments_api.py
  api/src/api/app/apis/groups_api.py
  api/src/api/app/apis/interventions_api.py
  api/src/api/app/apis/models_api.py
  api/src/api/app/apis/nodes_api.py
  api/src/api/app/apis/parameter_definitions_api.py
  api/src/api/app/apis/scenarios_api.py
  api/src/api/app/controller/compartments_controller.py
  api/src/api/app/controller/groups_controller.py
  api/src/api/app/controller/interventions_controller.py
  api/src/api/app/controller/models_controller.py
  api/src/api/app/controller/nodes_controller.py
  api/src/api/app/controller/parameterdefinitions_controller.py
  api/src/api/app/controller/scenario_controller.py
  api/src/api/app/middlewares/authentication_middleware.py
  api/src/api/app/models/user_detail.py
  api/src/api/core/config.py
  api/src/api/security_api.py
  api/src/api/server.py
  api/src/api/services/auth.py
Due: black, isort, flake8

Update api/src/api/security_api.py
  api/src/api/security_api.py
Due: black, isort, flake8

Add comments and rename functions
  api/src/api/app/middlewares/authentication_middleware.py
  api/src/api/security_api.py
Due: black, isort, flake8

fix post endponts to respond with 201
  api/src/api/app/apis/compartments_api.py
  api/src/api/app/apis/groups_api.py
  api/src/api/app/apis/interventions_api.py
  api/src/api/app/apis/models_api.py
  api/src/api/app/apis/nodes_api.py
  api/src/api/app/apis/parameter_definitions_api.py
  api/src/api/app/apis/scenarios_api.py
Due: black, isort, flake8

fix api docs paths, names, version, etc.
  api/.docker-env.template
  api/src/api/app/__init__.py
  api/src/api/core/config.py
  api/src/api/server.py
  docs/openapi3_0.yaml
Due: black, isort, flake8

Fix er_diagram.md
  docs/er_diagram.md
Due: none

Update and rename openapi3_0.yaml to openapi.yaml
  docs/openapi.yaml
Due: none

Update setup.md
  docs/setup.md
Due: none

add json parsing etc.
  api/src/api/app/__init__.py
  api/src/api/app/apis/scenarios_api.py
  api/src/api/app/apis/worker_api.py
  api/src/api/app/controller/scenario_controller.py
  api/src/worker/tasks/import_scenario.py
Due: black, isort, flake8

Add create-by audit for scenario creation
  api/src/api/app/apis/scenarios_api.py
  api/src/api/app/controller/scenario_controller.py
  api/src/api/app/db/models.py
  api/src/api/app/db/tasks.py
  api/src/api/app/middlewares/authentication_middleware.py
Due: black, isort, flake8

Revert "Add create-by audit for scenario creation"
  api/src/api/app/apis/scenarios_api.py
  api/src/api/app/controller/scenario_controller.py
  api/src/api/app/db/models.py
  api/src/api/app/db/tasks.py
  api/src/api/app/middlewares/authentication_middleware.py
Due: black, isort, flake8

Add create-by audit for scenario creation (again)
  api/src/api/app/apis/scenarios_api.py
  api/src/api/app/controller/scenario_controller.py
  api/src/api/app/db/models.py
  api/src/api/app/db/tasks.py
  api/src/api/app/middlewares/authentication_middleware.py
Due: black, isort, flake8

initil api & controller
  api/src/api/app/apis/utils_api.py
  api/src/api/app/controller/utils_controller.py
  api/src/api/server.py
Due: black, isort, flake8

Refactor scenario creation related function so that creator info is contained in the DTO and now get scenario by id also returns creator info
  api/src/api/app/apis/scenarios_api.py
  api/src/api/app/controller/scenario_controller.py
  api/src/api/app/db/models.py
  api/src/api/app/db/tasks.py
  api/src/api/app/models/scenario.py
Due: black, isort, flake8

restructure env vars, add minio client creation
  api/.docker-env.template
  api/src/api/app/apis/utils_api.py
  api/src/api/app/controller/scenario_controller.py
  api/src/api/app/controller/utils_controller.py
  api/src/api/app/middlewares/authentication_middleware.py
  api/src/api/core/config.py
  api/src/api/requirements.txt
Due: black, isort, flake8

Update api/src/api/app/models/scenario.py
  api/src/api/app/models/scenario.py
Due: black, isort

update version number and openapi.yaml
  api/src/api/app/apis/scenarios_api.py
  api/src/api/core/config.py
  docs/openapi.yaml
Due: black, isort, flake8

release version 2.0.0
  api/src/api/app/apis/scenarios_api.py
  api/src/api/core/config.py
  docs/openapi.yaml
Due: black, isort, flake8

add minio and finish upload
  api/.docker-env.template
  api/src/api/app/apis/utils_api.py
  api/src/api/app/controller/utils_controller.py
  api/src/api/app/middlewares/authentication_middleware.py
  api/src/api/app/models/__init__.py
  api/src/api/core/config.py
  api/src/api/requirements.txt
Due: black, isort, flake8

fixed packages libgl1-mesa-glx to libglx-mesa0 when python image was upgraded to trixie (debian) transitional package deprecated
  api/src/worker/Dockerfile
Due: none

add metadata to uploaded file
  api/src/api/app/controller/utils_controller.py
Due: black, isort, flake8

Apply suggestions from self review
  api/src/api/app/controller/scenario_controller.py
  api/src/api/app/middlewares/authentication_middleware.py
Due: black, isort, flake8

Revert Dockerfile fix
  api/src/worker/Dockerfile
Due: none

Change db volume mount path
  api/docker-compose.yml
Due: none

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  flake8: any of: \.py$, but not: src/api/app/models/
